body{
    background-color: rgb(234, 238, 255);
}

.text-box{
    position: relative;
    background-color: black;
    height: 300px;
    width: 500px;
    left: 350px;
    border-style: solid;
    border-color: red;
    border-width: 3px;
    color:white;
}